.container {
  border: 2px solid #a3cae9;
  outline: 12px solid #e8e337;
  max-width: 500px;
  aspect-ratio: 1;
  border-radius: 25px;
  background: repeating-linear-gradient(
    to bottom,
    #f5f7f9,
    #f5f7f9 10px,
    #c9e2f4 10px,
    #c9e2f4 20px
  );
}

.imagesContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  width: 80%;
  height: 40%;
}

.pokemonName {
  text-align: center;
  font-size: 1.5rem;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
/* .mainInformationContainer {
  display: flex;
  justify-content: space-between;
  margin:20px;
} */
.mainInformation {
  font-size: .8rem;
}

.description {
  text-align: justify;
  margin: 10px;
}
