.listContainer{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.card{
  border: 2px solid;
  border-radius: 20px;
  display:flex;
  justify-content: space-between;
  margin: 5px;
  height: 40px;
  align-items: center;
  padding: 0 20px;
  background-color: #ffb347;
}
.card:hover{
  cursor: pointer;
}
.pokemonImage {
  height: 50px;
  padding: 2px;
}
.number, .name {
  font-size:1rem;
}

.name{
  width: 80px;
  margin:20px;
}
