<header class="headerContainer">
  <div id="titleContainer">
    <img class="pokebolaImg" src="./../assets/img/pokebola-removebg-preview.png">
    <h1 class="title">Pokédex</h1>
    <img class="pokebolaImg" src="./../assets/img/pokebola-removebg-preview.png">
  </div>
  <div id="moreProjects">
    <a  class="moreProjectsLink" href="https://github.com/luzapien?tab=repositories">Ver otros proyectos</a>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="textFooter"><kbd class="circle">A</kbd><p>OK</p></div>
  <div class="textFooter"><kbd class="circle">X</kbd><p>Exit</p></div>
</footer>
